.nosotros {
  background-color: #f7c8e0;
  font-family: "PT Serif", serif;
}
p {
  margin: 1rem;
  font-family: "Poppins", sans-serif;
}
#imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cupcakes {
  border-radius: 10%;
}

.cheescake {
  border-radius: 10%;
}

.macarons {
  border-radius: 10%;
}
