body {
  background: #fff;
  margin-top: 150px;
}

main {
  padding: 30px 50px;
}

.contenedor-principal {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.productos-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 40px;
  padding: 20px 0;
  max-width: 800px;
  border-radius: 10px;
  border: 2px solid #f7c8e0;
  box-shadow: 0 2px 10px #f7c8e0, 0 2px 10px #f7c8e0;
}

.productos-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 80px;
  padding-right: 40px;
}

.recetas-img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.lista {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 50%;
}

@media (max-width: 768px) {
  .recetas-img {
    width: 150px;
    height: 150px;
  }

  body {
    margin-top: 50px;
  }

  main {
    padding: 30px 20px;
  }

  .productos-item {
    padding: 0;
    flex-direction: column;
  }

  .lista {
    width: 100%;
    font-size: 13px;
    justify-content: center;
    align-items: center;
  }
}
