* {
  box-sizing: border-box;
  margin: 0;
  color: #4f443e;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  background-color: #fae2e6;
  height: 150px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}

.nav-link {
  text-decoration: none;
}

.nav-logo {
  width: 150px;
  height: 150px;
  margin-left: 20px;
  margin-right: auto;
  display: flexbox;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  margin-top: 40px;
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: min-content;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
  cursor: pointer;
}

header a {
  text-decoration: none;
  color: #4f443e;
}
header a:hover {
  color: rgb(243, 39, 192);
  font-weight: bold;
  transition: 0.5s;
}

header a:hover {
  color: rgb(243, 39, 192);
  transition: 0.4s;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fae2e6;

  width: 100%;
  margin-bottom: 0.2rem;
  gap: 1rem;
}

.footer-container h4 {
  font-size: 20px;
  font-weight: lighter;
}

.footer-container p {
  font-size: 10px;
}

.footer-elementos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  gap: 0.5rem;
}

.iconos-container {
  display: flex;
  gap: 1rem;
  min-height: 40px;
}

.fa-instagram {
  color: rgb(243, 39, 192);
  font-size: 30px;
}

.fa-square-facebook {
  color: rgb(17, 17, 137);
  font-size: 30px;
}

.fa-youtube {
  color: red;
  font-size: 30px;
}

.fa-instagram:hover {
  color: rgb(243, 118, 228);

  font-size: 35px;
  transition: 0.2s ease-out;
}

.fa-square-facebook:hover {
  color: rgb(8, 8, 46);

  font-size: 35px;
  transition: 0.2s ease-out;
}

.fa-youtube:hover {
  color: rgb(239, 99, 99);

  font-size: 35px;
  transition: 0.2s ease-out;
}

@media (max-width: 768px) {
  .header {
    height: 60px;
  }

  .nav-logo {
    width: 65px;
    height: 65px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    background-color: rgb(242, 186, 186);
    position: fixed;
    left: 0;
    top: 20px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
  }

  .nav-menu-item {
    line-height: 70px;
  }

  .nav-menu-link:hover {
    background-color: none;
    color: #b93c7d;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
}
